<!-- Only allow user to edit their own posts. -->
<!-- It's good to hide this link if the user isn't the owner of the print,
but you also need code in the controller to ensure a user doesn't just change
the ID in a URL to edit someone else's print -->

<% if @print.user_id == current_user.id %>
  <h2><%= @print.title %> <%= link_to "EDIT", edit_print_path(@print) %></h2>
<% end %>

<div class="print-info">
  <%= image_tag @print.photo %>
  <h2><%= @print.creator_individual %></h2>
  <h2><%= @print.creator_company %></h2>
  <h2><%= @print.creator_printer %></h2>
  <h2><%= @print.title %></h2>
  <h2><%= @print.series %></h2>
  <h2><%= @print.purchase_year %></h2>
  <h2><%= @print.category %></h2>
  <h2><%= @print.created_at.strftime("%b %e, %Y - %l:%M%p") %></h2>
<div>

<h2>Comments:</h2>
<% @print.comments.each do |comment| %>
  <p> User Commenter: <%= comment.username %> </p>
  <p> Comment:<%= comment.content %> </p>
  <%= link_to "delete", [comment.print, comment ], method: :delete %>
<% end %>

<h2>Add Comments</h2>
<%= form_for ([@print, @print.comments.build]) do |f| %>
  <p>
    <%= f.label :username  %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p> <%= f.submit %> </p>
<% end %>
