<!DOCTYPE html>
<html>
<head>
  <title>The Collectionist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-container">
    <!-- Header & Navigation -->
    <header class="site-header overlay overlay-hugeinc">
      <label for="op"></label>
      <nav class="site-nav">
        <ul class="nav-list">
          <li><%= link_to "The Collectionist", prints_path %></li>
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </nav>
    </header>

    <!-- Content -->
    <main class="site-content">
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="site-footer">
      <p></p>
    </footer>
  </div> <!-- Closes "site-container" -->
</body>
</html>