<!DOCTYPE html>
<html>
<head>
  <title>The Collectionist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-container">
    <!-- Header & Navigation -->
    <header class="site-header">
      <nav class="site-nav">
        <ul class="nav-list">
          <li><%= link_to "The Collectionist", prints_path %></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </nav>
    </header>

<% if user_signed_in? %>
    <!-- Menu Button -->
    <input type="checkbox" id="op"></input>

    <div class="button-nav">
      <label for="op">+</label>
    </div>

    <div class="overlay-nav overlay-styles">
      <label for="op">x</label>
      <nav>
        <ul>
          <li><a href="#">Digital Print</a></li>
          <li><a href="#">Giclée Print</a></li>
          <li><a href="#">Offset Print</a></li>
          <li><%= link_to "Screen Print", new_print_path %></li>
          <li><a href="#">Woodcut Print</a></li>
        </ul>
      </nav>
    </div>
    <% end %>

    <!-- Content -->
    <main class="site-content">
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="site-footer">
      <p></p>
    </footer>
  </div> <!-- Closes "site-container" -->
</body>
</html>